


.header{
  background-color: #900C3F;
  color: #DAF7A6;
  display: flex;
  width: 100%;
  justify-content: space-between;

}

h1{
  background-color: #581845;
}

h3{

  width: 50%;
  background-color: #DAF7A6;
  line-height: 50px;

/*  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 5px;*/
}

.header ul, .BLI ul{
list-style-type: none;
justify-content: flex-end;
display: inline;


}

.header li{
display: inline;
justify-content: flex-end, space-evenly;


}

.image{
width: 100%;
border-color: #FF5733;
border-style: groove;

}

.BLI {
display: flex;
margin-right: 5%;


}
.BLI h3 {
  display: inline;
  width: 50%;
  flex-direction: row;
  padding-left: 10%;

}


.firstWork,.otherWorks {
display: inline;
flex-wrap:wrap;
border-style: dashed;
border-color: #FFC300;
flex-direction: row;


}

.firstWork{
border-width: thick;
width: 100%;


}
.moreworks{
  display: block;
  flex-wrap: nowrap;
  background-color: #900C3F;
  width: 100%;
  float:
}
.otherWorks{
  width: 50%;
  flex-wrap:wrap;
}

.aboutMe{

  border-color: #900C3F;
  border-style: solid;


}
