*{
height: 100%;
}

body{
    position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./images/green.png");

}

.header{
  background-color: #900C3F;
  color: #DAF7A6;
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;

}

a{
color: #DAF7A6;
}

h1{
  font-size: 70px;
  height: 70px;
  width: 400px;
  background-color: #581845;

}

h2{
color:  #581845;
font-size: 50px;
vertical-align: middle;

}

h3{
display: inline-block;
  width: 50%;
  background-color: #DAF7A6;
  line-height: 40px;
  vertical-align: middle;


}

p{
text-align: center;
padding-top: 100px;

}


.BLI {
display: flex;
/*margin-right: 5%;*/
width: 100%;
height: 32%;
align-items: center;
align-content: center;
margin: auto;
padding: 5px;
vertical-align: middle;

}

.header ul, .BLI ul{
list-style-type: none;
justify-content: flex-end;
display: inline-block;
margin: auto;
vertical-align: middle;


}

.BLI ul{
display: flex, inline-block;
vertical-align: middle;

}

.BLI li{
  justify-content: center,space-evenly, space-between;
  display: inline-block;
  vertical-align: middle;

}
.header li{
display: inline-block;
justify-content: flex-end, space-evenly, space-between;
padding: 15px;
vertical-align: middle;


}

#image{
width: 100%;
height: 25%;
border-color: #FFC300;
border-style: groove;

}


 h3 {
  display: inline;
  width: 30%;
  flex-direction: row;
  padding-left: 10%;
  border-style: solid;
  border-color: #900C3F;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-size: 50px;


}



.works{
  width: 196%;
  position: absolute;
}


.BLI li{
  justify-content: flex-end, space-evenly;
  display: inline;
  text-decoration: underline;
  color: #FFC300;
  width: 100%;

}
.BLI ul{
  width: 196%;
  font-size: 50px;
}



.firstWork,.otherWorks {
display: block;
flex-wrap:wrap;
border-style: dashed;
border-color: #FFC300;
flex-direction: row;


}

.firstWork{

border-width: thick;
width: 500px;
height: 150px;




}
.moreworks{
  display: inline;
  flex-wrap: nowrap;
  background-color: #900C3F;
  width: 196%;
  height: 25%;

}

.otherWorks{
  flex-wrap:wrap;
  display: inline;
  width: 100%;
  height: 25%;



}
.gif{
  width: 500px;
  height: 150px;
}
.emw{
  width: 500%;
  height: 50%;
}

.aboutMe{

  border-color: #900C3F;
  border-style: solid;
  width: 196%;


}

.footer {
height: 20%;
width: 100%;
background-color: #FFC300;
background-image: url("./images/wavesYellow.png");
align-items:center;
align-items: stretch;


}
